%script{ class: 'fn-article-template', type: 'text/template' }
  .media 
    %p(class='fn-id' hidden='true')
      <%= article.id %>
    %a.pull-left
      %img.media-object(src='/assets/avatar-small.png')
    .media-body
      %h4.media-heading
        <%= article.title %>
    .article-content
      <%= article.content %>
    %a.lupe(href='#')
    %a.fn-delete Delete article
