!!!
%html
  %head
    %title CRUDHAML
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top-content
      .container
        %header
          %a
            #logo
          #menu
            %nav
              %ul
                %li Galery 
                %li Articles
                %li Blog 
                %li About
                %li contact
          #social-menu
            %a{:href=>"#"}
              #twitter.social-icon
            %a{:href=>"#"}
              #rss.social-icon
        #slider
          %img{:src=>"/assets/slide-placeholder.png"}
            %ul.images-slider
              %li
                %figure
                  %img{:src=>"/assets/avatar-small.png"}
    #text-area
      .container
        =yield
    %footer
      .container
        #foot-content
          #foot-logo
            %section#text-footer
              %p Bootstrap Sleek, intuitive, and powerful front-end framework for faster and easier web development.
              %aside#footer-social
                %ul
                  %li
                  %li
                  %li
        #copyright
          %p  all rights reserved 
